# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.sqlite3
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual environments
venv/
env/
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
